---
import Header from "../components/ui/Header.astro";
import Hero from "../components/ui/Hero.astro";
import About from "../components/ui/About.astro";
import Projects from "../components/ui/Projects.astro";
import OpenSource from "../components/ui/OpenSource.astro";
import Experience from "../components/ui/Experience.astro";
import Education from "../components/ui/Education.astro";
import Achievements from "../components/ui/Achievements.astro";
import Gallery from "../components/ui/Gallery.astro";
import Footer from "../components/ui/Footer.astro";
import Hr from "../components/ui/Hr.astro";
import { siteConfig } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteConfig.description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.url}>
    <meta property="og:title" content={`${siteConfig.name} - ${siteConfig.title}`}>
    <meta property="og:description" content={siteConfig.description}>
    <meta property="og:image" content={new URL("/images/gallery/masud.jpeg", Astro.url)}>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={Astro.url}>
    <meta property="twitter:title" content={`${siteConfig.name} - ${siteConfig.title}`}>
    <meta property="twitter:description" content={siteConfig.description}>
    <meta property="twitter:image" content={new URL("/images/gallery/masud.jpeg", Astro.url)}>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>{siteConfig.name} - {siteConfig.title}</title>
  </head>
  <body>
    <Header />
    <main>
      <Hero />
      <Hr />
      <About />
      <Hr />
      <Experience />
      <Hr />
      <Projects />
      <Hr />
      <OpenSource />
      <Hr />
      <Education />
      <Hr />
      <Achievements />
      <Hr />
      <Gallery />
    </main>
    <Footer />
  </body>
</html>
